### Minix NEO X7 Mini configuration
CONFIG_X7MINI_WIFI_VOL=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y
CONFIG_WLAN_80211=y
# CONFIG_WIFI_NONE is not set
# CONFIG_BCM4329 is not set
# CONFIG_BCM4319 is not set
# CONFIG_RDA5990 is not set
# CONFIG_MV8686 is not set
# CONFIG_RTL8189ES is not set
# CONFIG_MT5931 is not set
# CONFIG_MT5931_MT6622 is not set
# CONFIG_AR6003 is not set
# CONFIG_RTL8723AS is not set
CONFIG_RKWIFI=y
CONFIG_RK_CFG80211=y
# CONFIG_BCM4330 is not set
# CONFIG_RK903 is not set
# CONFIG_RK901 is not set
# CONFIG_AP6181 is not set
CONFIG_AP6210=y
# CONFIG_AP6330 is not set
# CONFIG_AP6476 is not set
# CONFIG_AP6493 is not set
# CONFIG_GB86302I is not set
CONFIG_USB_RTL8152=y
CONFIG_SND_RK29_SOC_I2S=y
CONFIG_SND_RK29_SOC_I2S_2CH=y
CONFIG_SND_ROCKCHIP_SPDIF=y
# CONFIG_SND_DMA_EVENT_DYNAMIC is not set
CONFIG_SND_DMA_EVENT_STATIC=y
CONFIG_SND_RK_SOC_SPDIF=y
CONFIG_SND_RK_SOC_HDMI=y
# CONFIG_SND_RK29_CODEC_SOC_MASTER is not set
CONFIG_SND_RK29_CODEC_SOC_SLAVE=y
# CONFIG_ADJUST_VOL_BY_CODEC is not set
# CONFIG_PHONE_INCALL_IS_SUSPEND is not set
CONFIG_SND_SOC_SPDIF=y
CONFIG_SND_SOC_RK_HDMI_CODEC=y
