### Overclock the CPU to 1920 mhz with only 1200, 1608, 1800 and 1920 mhz enabled
CONFIG_RK_PWM_VOLT_MAX_1450=y
# CONFIG_RK_CPU_312 is not set
# CONFIG_RK_CPU_504 is not set
# CONFIG_RK_CPU_816 is not set
# CONFIG_RK_CPU_1008 is not set
# CONFIG_RK_CPU_1416 is not set
CONFIG_RK_CPU_1800=y
CONFIG_RK_CPU_1800_VOLT=1375
CONFIG_RK_CPU_1920=y
CONFIG_RK_CPU_1920_VOLT=1400
