### MK908 configuration
### compatible devices: TODO
### requires a patched kernel: CONFIG_ACT8846_LDO6_18V
CONFIG_ACT8846_LDO6_18V=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y
CONFIG_WLAN=y
CONFIG_WLAN_80211=y
# CONFIG_WIFI_NONE is not set
# CONFIG_BCM4329 is not set
# CONFIG_BCM4319 is not set
# CONFIG_RDA5990 is not set
# CONFIG_MV8686 is not set
# CONFIG_MT5931 is not set
# CONFIG_MT5931_MT6622 is not set
# CONFIG_RTL8192CU is not set
# CONFIG_RTL8188EU is not set
# CONFIG_RT5370 is not set
# CONFIG_AR6003 is not set
CONFIG_RKWIFI=y
CONFIG_RK_CFG80211=y
# CONFIG_BCM4330 is not set
# CONFIG_RK903 is not set
# CONFIG_RK901 is not set
# CONFIG_AP6181 is not set
CONFIG_AP6210=y
# CONFIG_AP6330 is not set
# CONFIG_AP6476 is not set
# CONFIG_AP6494 is not set
CONFIG_LCDC_RK3188=y
CONFIG_LCDC0_RK3188=y
# CONFIG_LCDC0_IO_18V is not set
# CONFIG_LCDC1_RK3188 is not set
# CONFIG_W35UND is not set
# CONFIG_PRISM2_USB is not set
# CONFIG_R8712U is not set
# CONFIG_VT6656 is not set
# CONFIG_ATH6K_LEGACY is not set
